In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv ('../data/movies_metadata.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [4]:
import numpy as np

In [5]:
data[['budget', 'revenue']] = data.loc[:, ['budget', 'revenue']].replace (0, np.nan)

In [6]:
data[['budget', 'revenue']]

         budget      revenue
0      30000000  373554033.0
1      65000000  262797249.0
2             0          NaN
3      16000000   81452156.0
4             0   76578911.0
...         ...          ...
45461         0          NaN
45462         0          NaN
45463         0          NaN
45464         0          NaN
45465         0          NaN

[45466 rows x 2 columns]

In [7]:
data.isna().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                  38058
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [8]:
data.shape

(45466, 24)

In [9]:
data.drop(columns=['belongs_to_collection', 'tagline', 'homepage'], inplace=True)

In [10]:
data.drop(columns=['adult'], inplace=True)

In [11]:
data.drop (columns=['poster_path', 'id', 'video', 'overview', 'status'], inplace=True)

In [12]:
data.genres[7]

"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 18, 'name': 'Drama'}, {'id': 10751, 'name': 'Family'}]"

In [13]:
import ast

In [14]:
data['genres'] = data.genres.apply(lambda x : ast.literal_eval(x))

In [15]:
def get_genres (genres_list):
    genres = []
    for item in genres_list:
        genres.append(item['name'])
    return genres

In [16]:
data['genres'] = data.genres.apply (get_genres)

In [17]:
data.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                45466 non-null  object
 1   genres                45466 non-null  object
 2   imdb_id               45449 non-null  object
 3   original_language     45455 non-null  object
 4   original_title        45466 non-null  object
 5   popularity            45461 non-null  object
 6   production_companies  45463 non-null  object
 7   production_countries  45463 non-null  object
 8   release_date          45379 non-null  object
 9   revenue               7408 non-null   float64
 10  runtime               45203 non-null  float64
 11  spoken_languages      45460 non-null  object
 12  title                 45460 non-null  object
 13  vote_average          45460 non-null  float64
 14  vote_count            45460 non-null  float64
dtypes: float64(4), object(11)
memory usage: 5.2+ MB

In [18]:
data.imdb_id.value_counts()

tt1180333    3
0            3
tt1327820    2
tt2018086    2
tt0111613    2
            ..
tt0069234    1
tt0053651    1
tt0107316    1
tt1869416    1
tt0112459    1
Name: imdb_id, Length: 45417, dtype: int64

In [19]:
data['revenue'] = data.revenue.astype (float, errors='ignore')
data['budget'] = data.budget.astype (float, errors='ignore')

In [20]:
data['release_date']

0        1995-10-30
1        1995-12-15
2        1995-12-22
3        1995-12-22
4        1995-02-10
            ...
45461           NaN
45462    2011-11-17
45463    2003-08-01
45464    1917-10-21
45465    2017-06-09
Name: release_date, Length: 45466, dtype: object

In [21]:
# returns timestamp object ...  .date() used to get datetime obj
# data['release_date'] = data['release_date'].apply(lambda x : pd.to_datetime(x, format='%Y-%m-%d', errors='ignore'))

In [22]:
data.dropna (axis='index', subset = ['release_date'], inplace=True)

In [24]:
data.drop(data.loc[data.release_date == '1'].index, inplace=True)
data.drop(data.loc[data.release_date == '12'].index, inplace=True)
data.drop(data.loc[data.release_date == '22'].index, inplace=True)

In [25]:
data['release_date'] = data.release_date.apply (lambda x : pd.datetime.strptime (x, '%Y-%m-%d'))

In [ ]:
# data ['release_year'] = data.release_date.dt.year

In [26]:
data.to_csv ('../data/cleanedMovieData.csv')